@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);

body {
	text-align: center;
	background-image: url(http://scontent.fphl1-1.fna.fbcdn.net/hphotos-xlf1/t31.0-8/11952926_10204904657480780_1565378575563877483_o.jpg);
	opacity: 60;
	background-size: cover;
	background-repeat: no-repeat;

}

h1 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 250px;
	color: rgba(205,205,205,.5);
	margin-top: 5px;
	margin-bottom: 5px;
}

p {
	font-family: georgia;
	font-size: 22px;
	font-style:italic;
	line-height: 1.5em;
	width: 500px;
	text-align: left;
	color: #ffffff;
	margin-top: 80px;
	margin-left: 10px;

}

